extends layout

block append header
  if(stylesheets)
    each stylesheet, index in stylesheets
      link(href=stylesheet.src, rel="stylesheet")

block append footer
  if(javascripts)
    each javascript, index in javascripts
      script(src=javascript.src)

block content
  section
    if info.title
      h1!= info.title
    if info.introduction
      p.heavy!= info.introduction
    if info.body
      p!= info.body
    if info.images
      each image, imagename in info.images
        img(src=image.src, alt=image.alt, title=image.alt)
    if info.footer
      p!= info.footer
    if(info.extraContent)
      each extraItem, i in info.extraContent
        div(id=extraItem.name)= extraItem.content
    if info.items
      each item, i in info.items
        article(id=item.foldername)
          if item.contents
            - var parts = item.contents
            if parts.title
              h2!= parts.title
            if parts.introduction
              p.heavy!= parts.introduction
            if parts.body
              p!= parts.body
            if parts.footer
              p!= parts.footer
            if parts.images
              each image, imagename in parts.images
                img(src=image.src, alt=image.alt, title=image.alt)
            if parts.extraContent
              each extraItem, index in parts.extraContent
                div(id=extraItem.name)!= extraItem.content
            if parts.allowResponses
              .responses
                if parts.responses
                  each response, i in parts.responses
                    .response
                      h6 by {response.author}
                      p= response.text
                form(method="post", action="/" + info.title + "/" + item.foldername + "/respond")
                  input#responseAuthor(type="text")
                  textarea#responseText
                  input#sendResponse(type="submit", value="place comment")
    else
      | jammer
