if header
  header
    if header.logo
      a#logo(href="/")
        img(src=header.logo)
    if header.title
      h1#mainTitle= header.title
    if header.subtitle
      span.subtitle= header.subtitle
    if header.menu
      nav
        each menuItem in header.menu
          div(class=parentSection ? parentSection == menuItem.name ? "active" : "" : "")
            a(href="/" + menuItem.name, class=parentSection ? parentSection == menuItem.name ? "active" : "" : "")= menuItem.name
            if menuItem.children
              div.dropdown
                each child in menuItem.children
                  a(href="/" + menuItem.name + '/' + child.name, class=parentSection ? parentSection == child.name ? "active" : "" : "")= child.name