article(id=item.foldername, class='overview')
	if item.title
		if item.introduction
			h2
				a(href='/' + parentSection + '/' + item.foldername)!= item.title
		else
			h2= item.title
	if item.introduction
		p.heavy!= item.introduction
	else if item.body
		p!= item.body
	if item.images.length
		if item.introduction
			span(data-role="imgPlaceholder", style="width: " + item.images[0].width + 'px; height:' + item.images[0].height + "px; display: inline-block;", data-src=item.images[0].base + '.' + item.images[0].ext, data-alt=item.images[0].alt, data-title=item.images[0].alt)
		else
			each image, imagename in item.images
				spann(data-role="imgPlaceholder", style="width: " + item.images[0].width + 'px; height:' + item.images[0].height + "px; display: inline-block;", data-src=item.images[0].base + '.' + item.images[0].ext, data-alt=item.images[0].alt, data-title=item.images[0].alt)
	if item.extraContent
		each extraItem, index in item.extraContent
			div(id=extraItem.name)!= extraItem.content
	if item.allowResponses
		.responses
			if item.responses
				span= item.responses.length + ' responses'