article(id=item.foldername, class='overview')
	if item.title
		if item.introduction
			h2
				a(href='/' + parentSection + '/' + item.foldername)!= item.title
		else
			h2= item.title
	if item.introduction
		p.heavy!= item.introduction
	else if item.body
		p!= item.body
	if item.images.length
		if item.introduction
			a(href='/' + parentSection + '/' + item.foldername)
				img( data-role="imgPlaceholder", style="width: " + item.images[0].width + 'px; height:' + item.images[0].height + "px; display: inline-block;", data-src='/images' + item.images[0].base, alt=item.images[0].alt, title=item.images[0].alt )
		else
			each image, imagename in item.images
				img( data-role="imgPlaceholder", style="width: " + image.width + 'px; height:' + image.height + "px; display: inline-block;", data-src='/images' + image.base, alt=image.alt, title=image.alt )
	if item.extraContent
		each extraItem, index in item.extraContent
			div(id=extraItem.name)!= extraItem.content
	if item.attachments
		each attachment, index in item.attachments
			include attachment
	if item.introduction
		a.readmore(href='/' + parentSection + '/' + item.foldername)
	if item.allowResponses
		.responses
			if item.responses
				span= item.responses.length + ' responses'
