article(id=item.foldername, class='overview')
  if item.contents
    - var parts = item.contents
    if parts.title
      if parts.introduction
        h2
          a(href='/' + parentSection + '/' + item.foldername)!= parts.title
      else
        h2= parts.title
    if parts.introduction
      p.heavy!= parts.introduction
    else if parts.body
      p!= parts.body
    if parts.images.length
      if parts.introduction
        img(src=parts.images[0].base + '-' + parts.images[0].width + 'x' + parts.images[0].height + '.' + parts.images[0].ext, alt=parts.images[0].alt, title=parts.images[0].alt)
      else
        each image, imagename in parts.images
          img(src=image.base + '-' + image.width + 'x' + image.height + '.' + image.ext, alt=image.alt, title=image.alt)
    if parts.extraContent
      each extraItem, index in parts.extraContent
        div(id=extraItem.name)!= extraItem.content
    if parts.allowResponses
      .responses
        if parts.responses
          span= parts.responses.length + ' responses'