article(id=item.foldername, class=parentSection ? 'overview' : 'exclusive' )
  if item.title
    if parentSection
      h1
        a(href='/' + parentSection + '/' + item.foldername)!= item.title
    else
      h1!= item.title
  if item.introduction
    p.heavy!= item.introduction
  if item.body
    p!= item.body
  if item.footer
    p!= item.footer
  if item.images
    each image, imagename in item.images
      img(data-role="imgPlaceholder", style="width: " + image.width + 'px; height:' + image.height + "px; display: inline-block;", data-src=image.base + '.' + image.ext, alt=image.alt, title=image.title)
  if item.extraContent
    each extraItem, index in item.extraContent
      div(id=extraItem.name)!= extraItem.content
  if item.attachments
    each attachment, index in item.attachments
      include attachment
  if item.allowResponses
    .responses
      if item.responses
        each response, i in item.responses
          .response
            h6 by {response.author}
            p= response.text
      form(method="post", action="/" + item.section.foldername + "/" + item.foldername + "/respond")
        input#responseAuthor(type="text")
        textarea#responseText
        input#sendResponse(type="submit", value="place comment")
